.map {
    display: none; /* a retirer plus tard */
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 900px;
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 900px;
        }
    }
}

.burger {
    position: relative;
    width: 5rem;
    height: 5rem;
    &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 1.65rem;
        height: 2px;
        transform: translate(-50%, -50%);
        background-color: $white;
        @include transition-eclair;
    }
    &:before {
        top: calc(55% - 1px);
    }
    &:after {
        top: calc(45% - 1px);
    }
    &:hover {
        cursor: pointer;
        &:before, &:after {
            background-color: $red;
        }
    }
}

.gallery {
    grid-area: gallery;
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: calc($gap * .75);
        a {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
            // cache les éléments après le 12e
            &:nth-of-type(n+13) {
                display: none;
            }
            &:hover {
                @include overlay-before (
                    $bg: $red,
                    $opacity: .6,
                    $z-index: 2
                    );

            }
        }
    }
}