
footer {
    width: 100%;
    color: $grey;
    padding: calc($gap * 5);
    h1, h2, h3, h4 {
        color: $white;
        text-transform: uppercase;
    }
    h1, h2, h3, h4, h5, p, li {
        margin-bottom: $gap;
    }
    &.contact-info {
        background-color: $dark;
        height: fit-content;
        .areas {
            max-height: 50vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: .8fr 1fr;
            width: 100%;
            @media screen and (max-width: $small-screen) {
                grid-template-rows: unset;
            }
            gap: $gap;
            grid-template-areas:
            "contact  twitter   gallery"
            "hours    twitter   gallery"
            ;
            @media screen and (max-width: $tablet) {
                grid-template-columns: repeat(2, 1fr);
                max-height: fit-content;
                grid-template-areas:
                "contact  twitter"
                "hours    twitter"
                "gallery  gallery"
                // j'ai mis la galerie pleine largeur
                // parce que c'est clairement mieux ^^
                ;
            }
            @media screen and (max-width: $smartphone) {
                grid-template-columns: 1fr;
                grid-template-areas:
                "contact"
                "hours"
                "twitter"
                "gallery"
                ;
            }
            .contact {
                grid-area: contact;
                @include fontawesome-list;
                li {                 
                    &.place {
                        &::before {
                            content: "\f041";
                        }
                    }
                    &.phone {
                        &::before {
                            content: "\f095";
                        }
                    }
                    &.mail {
                        &::before {
                            content: "\f0e0";
                        }
                    }
                }
            }
            .hours {
                grid-area: hours;
            }
            .twitter-feed {
                grid-area: twitter;
                display: flex;
                flex-direction: column;
                gap: $gap;
                .tweet {
                    .account {
                        font-weight: normal;
                        &:before {
                            content: "\f099";
                            font-family: FontAwesome;
                            color: $white;
                            display: inline-block;
                        }
                    }
                    a {
                        color: $red;
                    }
                    .date {
                        opacity: .5;
                    }
                }
            }
            
        }
    }
    &.links {
        .wrapped {
            width: 100%;
        }
        padding-top: calc($gap * 2);
        padding-bottom: $gap;
        height: fit-content;
        color: $white;
        background-color: $black;
        & > * {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            @include convert-to-vertical (
                $screen: $tablet,
                $resize-items: full
            )
        }
        .social {
            a {
                margin: $gap;
            }
        }
        .credits {
            p {
                color: $grey;
            }
        }
    }
}