body {
    background: transparent; 
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    &:first-of-type {
        border-top: 3px solid $red;
        position: fixed;
    }
}

.wrapped {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
}

a {
    color: inherit;
    opacity: inherit;
    text-decoration: none;
    @include transition-eclair;
    &:hover  {
        color: $red;
    }
}