body {
    background: transparent;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    &:first-of-type {
        border-top: 3px solid $red;
        position: fixed;
    }
}

.wrapped {
    max-width: 1200px;
    margin: 0 auto;
}

nav, footer {
    z-index: 1;
}

img {
    display: block;
}

a {
    color: inherit;
    opacity: inherit;
    text-decoration: none;
    @include hoverable($background: false);
}

aside {
    position: absolute;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        visibility: hidden;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .3;
    }
    &.active {
        width: 100%;
        &::before {
            visibility: visible;
        }
        .side {
            right: 0;
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg {
    &.fabric {
        background-image: url('../../img/graphics/pattern1.png');
        background-repeat: repeat;
    }
    &.beige {
        background-color: $beige;
    }
    &.parallax {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &#discover-1 {
            background-image: url('../../img/photos/bg-intro-01.jpg');
        }
        &#discover-2 {
            background-image: url('../../img/photos/bg-intro-04.jpg');
        }
    }
    &.upcoming {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../img/photos/bg-event-01.jpg');
    }
    &.dark {
        color: $white;
    }
}

// styles à la racine
::selection, input::selection {
    color: $white;
    background: $red;
}