body {
    background: transparent;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    &.vertical {
        flex-direction: column;
        align-items: center;
    }
}

.wrapper-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    &:first-of-type {
        border-top: 3px solid $red;
        position: fixed;
    }
}

.wrapped {
    max-width: 1200px;
    width: calc($small-screen - $gap);
    @media screen and (max-width: $small-screen) {
        max-width: calc($small-screen - ($gap * 10));
    }
    @media screen and (max-width: $tablet) {
        max-width: calc($tablet - ($gap * 10));
    }
    @media screen and (max-width: $smartphone) {
        max-width: calc($smartphone - ($gap * 10));
    }
    margin: 0 auto;
}

nav, footer {
    z-index: 1;
}

img {
    display: block;
}

a {
    color: inherit;
    opacity: inherit;
    text-decoration: none;
    @include hoverable($background: false);
}

aside {
    position: absolute;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        visibility: hidden;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .3;
    }
    &.active {
        width: 100%;
        &::before {
            visibility: visible;
        }
        .side {
            right: 0;
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg {
    &.fabric {
        background-image: url('../../img/graphics/pattern1.png');
        background-repeat: repeat;
    }
    &.beige {
        background-color: $beige;
    }
    &.center-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.parallax {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 720px;
        &#discover-1 {
            background-image: url('../../img/photos/bg-intro-01.jpg');
        }
        &#discover-2 {
            background-image: url('../../img/photos/bg-intro-04.jpg');
        }
    }
    &.upcoming {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../img/photos/bg-event-01.jpg');
    }
    &.dark {
        color: $white;
    }
}