.contact {
    padding-bottom: calc($gap * 3);
    section {
        height: fit-content;
        .container {
            margin: calc($gap * 5) auto;
            padding: 0 calc($gap * 5);
            @media screen and (max-width: $small-screen) {
                max-width: $tablet;
                margin: calc($gap * 2.5) auto;
                padding: 0 calc($gap * 2.5);
            }
            @media screen and (max-width: $tablet) {
                max-width: calc($smartphone - ($gap * 4));
                margin: calc($gap * 1.25) auto;
                padding: 0 calc($gap * 1.25);
            }
            @media screen and (max-width: $smartphone) {
                max-width: 400px;
                margin: calc($gap) auto;
                padding: 0;
            }
        }
        h3 {
            margin: $gap 0;
        }
    }
    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: $tablet) {
            // je ne comprends pas pourquoi
            // cette ligne ne s'applique pas
            grid-template-columns: 1fr;
            // du coup je fais ça :
            div {
                grid-column: span 3;
            }
        }
        margin: 0 calc($gap * 7.5);
        @media screen and (max-width: $small-screen) {
            margin: 0;
        }
        .message {
            grid-column: span 3;
        }
    }
    .info {
        margin: 0 calc($gap * 3);
        @media screen and (max-width: $tablet) {
            margin: 0 calc($gap * 6);
        }
    }
    .container {
        justify-content: space-between;
        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }
        div {
            h3 {
                color: $dark;
                @media screen and (max-width: $tablet) {
                    text-align: left;
                }
                &::before {
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -2rem;
                    width: $gap;
                    margin-right: $gap;
                }
            }
            p {
                color: $grey;
            }
            &.place, &.info, &.phone {
                width: 26%;
                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }
            &.place {
                h3::before {
                    content: "\f041";
                }
            }
            &.phone {
                h3::before {
                    content: "\f095";
                }
            }
            &.clock {
                h3::before {
                    content: "\f017";
                }
            }
        }
    }
}