.home {
   :not(header) {
       .title {
            .super {
                color: $red;
            }
            h1 {
                margin: 0;
            }
        }
    }
    section, article, div.subsection {
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        // .title {
        //     flex-basis: 100%;
        // }
        &.two-elements {
            gap: calc($gap * 2.5);
        }
        &.three-elements {
            gap: calc($gap * 1.75);
        }
        &.four-elements {
            gap: calc($gap);
        }
        &.text-right, .text-left {
            gap: calc($gap * 8);
            align-items: center;
            .text {
                text-align: center;
            }
            .pic {
                .soft {
                    aspect-ratio: 1;
                }
            }
        }
        &.text-below {
            .text {
                .title {
                    align-items: flex-start;
                    padding-left: 0;
                    h1, h2, h3 {
                        text-align: left;
                    }
                }
            }

            .pic {
                .soft {
                    aspect-ratio: 16/9;
                }
            }
        }
        &.text-right, &.text-left {
            .text { width: 60%; }
            .pic { width: 40%; }
        }
        &.text-right {
            .text {order: 0}
            .pic {order: 1}
        }
        &.text-left {
            .text {order: 1}
            .pic {order: 0}
        }
        &.text-below {
            flex-direction: column;
            &>* {height: 50%;}
            .text {order: 1}
            .pic {order: 0}
        }
        &.menu {
            flex-direction: column;
        }
        .text {
            .title {
                margin: 2.5em 0;
                .super {
                    font-size: 200%;
                }
                h1, h2 {
                    font-size: 300%;
                    letter-spacing: .5rem;
                }
            }
            p:not(.super) {
                margin: 2.5em 0;
            }
        }
        .pic {
            .img-wrapper {
                width: 100%;
                overflow: hidden;
                &.soft {
                    border-radius: $gap;
                }
                img {
                    display: block;
                    width: 100%;
                    @include transition-eclair;
                }
                &:hover {
                    img {
                        transform: scale(110%);
                    }
                }
            }
        }
    }
    section {
        padding: calc($gap * 8);
        .table-layout {
            display: grid;
            gap: calc($gap * 2);
            grid-template-areas:
            "one   two     ."
            "one   two     ."
            "three three   ."
            ;
            .img-wrapper {
                &:nth-of-type(1) { grid-area: one; }
                &:nth-of-type(2) { grid-area: two; }
                &:nth-of-type(3) { grid-area: three; }
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .button {
                    position: absolute;
                    font-size: 125%;
                    font-weight: normal;
                    color: $dark;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        &.upcoming {
            flex-direction: column;
            .card {
                background-color: $white;
                color: $dark;
                border-radius: $gap;
                display: flex;
                &>* {
                    width: 50%;
                }
                .img-wrapper {
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    border-radius: $gap 0 0 $gap;
                    .time {
                        width: 2em;
                        text-align: center;
                        padding: calc($gap * 2);
                        margin-right: calc(0rem - (4 * $gap));
                        margin-left: calc(0rem - $gap);
                        background-color: rgba($color: $red, $alpha: .6);;
                        color: $white;
                        z-index: 2;
                        writing-mode: vertical-lr;
                    }
                    img {
                        width: 100%;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p {
                        margin: $gap;
                    }
                    .counter {
                        width: 90%;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: 60% 40%;
                        grid-auto-flow: column;
                        text-align: center;
                        font-weight: bold;
                        p:nth-of-type(2n+1) {
                            font-size: $relative-title;
                            color: $red;
                        }
                        p:nth-of-type(2n) {
                            font-size: calc($relative-title / 2);
                            color: $grey;
                        }
                    }
                    .button {
                        text-align: left;
                    }
                }
            }
        }
        &.reviews-slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            .review {
                width: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $dark;
                text-align: center;
                .img-wrapper {
                    border-radius: 999px;
                    overflow: hidden;
                    width: fit-content;
                    height: fit-content;
                    border: calc($gap / 4) solid $red;
                    margin: calc($gap *2);
                    img {
                        height: calc($gap * 8);
                    }
                }
                figure {
                    &>* {
                        margin: calc($gap / 2);
                    }
                    .stars {
                        --percent: calc(var(--rating) / 5 * 100%);
                        
                        display: inline-block;
                        font-size: calc($gap * 2);
                        // font-family: Times;
                        line-height: 1;
                        
                        &::before {
                          content: '★★★★★';
                          letter-spacing: 3px;
                          background: linear-gradient(
                              90deg,
                              $red var(--percent),
                              $grey var(--percent));
                          background-clip: text;
                          -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
        &#discover-2 {
            // cause d'étranges problèmes de hover
            // @include overlay-before ($bg: $black);
            .title {
                z-index: 3;
            }
            .play-button {
                position: relative;
                width: calc($gap * 4);
                height: calc($gap * 4);
                display: block;
                border-radius: 999px;
                padding: 0;
                margin: 0 auto;
                user-select: none;
                background-color: $white;
                @include transition-eclair;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                    display: block;
                    border-color: transparent transparent transparent $black;
                    border-style: solid;
                    border-width: .6rem 0 .6rem 1rem;
                    @include transition-eclair;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba($color: $red, $alpha: .6);
                    transform: scale(120%);
                    &::after {
                        border-color: transparent transparent transparent $white;
                    }
                }
            }
        }
        &.latest {
            flex-wrap: wrap;
            .title {
                flex-basis: 100%;
            }
        }
        &.sign-up {
            form {
                display: flex;
                align-items: center;
                h3 {
                    width: fit-content;
                    margin-right: -.4rem;
                    width: 20rem;
                }
                .input:first-of-type {
                    position: relative;
                    &::after {
                        content: "\f0e0";
                        position: absolute;
                        top: 1em;
                        right: 1.5em;
                        color: $grey;
                        font-family: FontAwesome;
                        margin-left: calc (0 - $gap);
                        width: $gap;
                    }
                    input {
                        width: 100%;
                        width: 20rem;
                    }
                }
            }
        }
    }
}