.home {
    div.container, article, div.subsection, .bg.dark {
        .title {
            .super {
                color: $red;
            }
        }
    }
    div.container, article, div.subsection {
        display: flex;
        &.two-elements, &.three-elements, &.four-elements,
        &.text-right, &.text-left {
            @include convert-to-vertical($resize-items: full, $screen: $tablet);
        }
        &.two-elements {
            gap: calc($gap * 2.5);
        }
        &.three-elements {
            gap: calc($gap * 1.75);
        }
        &.four-elements {
            gap: calc($gap);
        }
        &.text-right, &.text-left {
            gap: calc($gap * 8);
            @media screen and (max-width: $tablet) {
                gap: calc($gap * 2);
            }
            align-items: center;
            .text {
                text-align: center;
            }
            .pic {
                .soft {
                    aspect-ratio: 1;
                }
            }
        }
        &.text-below {
            .text {
                .title {
                    align-items: flex-start;
                    padding-left: 0;
                    h1, h2, h3 {
                        text-align: left;
                    }
                }
            }
            .pic {
                .soft {
                    aspect-ratio: 16/9;
                }
            }
        }
        &.text-right, &.text-left {
            .text {
                width: 60%;
                p {
                    width: 80%;
                }
                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }
            .pic {
                width: 40%;
                @media screen and (max-width: $tablet) {
                    width: 65%;
                }
            }
        }
        &.text-right {
            .text {order: 0}
            .pic {order: 1}
        }
        &.text-left {
            .text {order: 1}
            .pic {order: 0}
        }
        &.text-below {
            flex-direction: column;
            .text {order: 1}
            .pic {order: 0}
            .text {
                p:not(.super) {
                    min-height: 5em;
                    @media screen and (max-width: $tablet) {
                        min-height: 1em;
                    }
                }
                // h3 {min-height: 2em;}
            }
        }
        .text.aerie {
            align-items: center;
            p:not(.super) {
                margin: 2.5em auto;
            }
        }
        .pic {
            .img-wrapper {
                width: 100%;
                overflow: hidden;
                &.soft {
                    border-radius: $gap;
                }
                img {
                    display: block;
                    width: 100%;
                    @include transition-eclair;
                }
                &:hover {
                    img {
                        transform: scale(110%);
                    }
                }
            }
        }
    }
    section {
        padding: calc($gap * 8);
        @media screen and (max-width: $tablet) {
            padding: calc($gap * 4);
        }
        &.upcoming {
            .card {
                .img-wrapper {
                    .side-ribbon {
                        background-color: rgba($color: $red, $alpha: .6);
                        color: $white;
                    }
                }
                .text {
                    .button {
                        text-align: left;
                    }
                }
            }
        }
        &.book-table {
            .text-right, .text-left {
                @include convert-to-vertical ($resize-items: full);
                @media screen and (max-width: $small-screen) {
                    .text {width: 100%;}
                    .pic {width: 50%;}
                }
            }
        }
        &#discover-2 {
            // cause d'étranges problèmes de hover
            // @include overlay-before ($bg: $black);
            .title {
                z-index: 3;
            }
        }
        &.latest {
            flex-wrap: wrap;
            .title {
                flex-basis: 100%;
            }
        }
    }
}