// galerie en grid comprenant 12 images
// (s'il y en a plus elle ne les affiche pas)

// galerie dans footer et sidenav
.gallery {
    grid-area: gallery;
    .grid {
        display: grid;
        // ┌─┬─┬─┬─┐
        // ├─┼─┼─┼─┤    3 lignes
        // ├─┼─┼─┼─┤    3 colonnes
        // └─┴─┴─┴─┘      
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: calc($gap * .75);
        a {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
            // cache les éléments après le 12e
            &:nth-of-type(n+13) {
                display: none;
            }
            &:hover {
                // un overlay s'ajoute au hover
                @include overlay-before (
                    $bg: $red,
                    $opacity: .6,
                    $z-index: 2
                    );

            }
        }
    }
}