body {
    h1 {
        font-size: calc($relative-title * 5);
        @media screen and (max-width: $tablet) {
            font-size: calc($relative-title * 3);
        }
    }
    main:not(.home) {
        h1 {
            font-size: calc($relative-title * 3);
            @media screen and (max-width: $tablet) {
                font-size: calc($relative-title * 3);
            }
        }
    }
    h2 {
        font-size: calc($relative-title * 3);
        @media screen and (max-width: $tablet) {
            font-size: calc($relative-title * 2);
        }
    }
    h3 {
        font-weight: normal;
        letter-spacing: .1rem;
        font-size: calc($relative-title);
        @media screen and (max-width: $tablet) {
            font-size: calc($relative-title);
        }
    }
    .super {
        font-family: 'Courgette', cursive;
        font-size: calc($relative-title * 2);
    }
}